.container {
	max-width: 323px;
	display: flex;
	flex-direction: column;
}

.heading {
	margin: 0 0 38px 0;
	color: var(--main-black);
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.accordion {
	width: 100%;
}

.accordionItem {
	border: none;
	padding-bottom: 30px;
	overflow: hidden;
}

.accordionItemPanel {
	padding: 34px 0 0 0;
	animation: floatingout 0.3s ease-in-out;
}

.accordionItemButton {
	display: flex;
	justify-content: space-between;
	background-color: var(--main-white);
	color: var(--main-black);
	font-size: 18px;
	cursor: pointer;
	padding: 0 0 14px 0;
	width: 100%;
	text-align: left;
	border: none;
}

.accordionItemButton::after {
	display: inline-block;
	content: '';
	height: 10px;
	width: 10px;
	margin-right: 12px;
	border-bottom: 2px solid var(--main-black);
	border-right: 2px solid var(--main-black);
	transform: rotate(-45deg);
	transition: transform ease-in-out 0.2s;
}

.accordionItemButton[aria-expanded='true']::after,
.accordionItemButton[aria-selected='true']::after {
	transform: rotate(45deg);
	transition: transform ease-in-out 0.2s;
}

.accordionItemContent {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin: -20px 0 0 0;
}

.link {
	all: unset;
	align-self: center;
	margin-top: 30px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: rgba(34, 40, 49, 0.56);
}

.link:hover {
	cursor: pointer;
	opacity: 0.8;
}

@keyframes floatingout {
	0% {
		transform: translateY(-100%);
		height: 0;
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		height: 100%;
		opacity: 1;
	}
}
