.checkbox label {
	display: flex;
	gap: 8px;
	font-size: 20px;
	color: #000;
}

.checkbox input[type='checkbox'] {
	display: none;
}

.checkbox label::before {
	content: '';
	display: block;
	height: 23px;
	width: 23px;
	border: 1px solid #999;
	border-radius: 4px;
}

.checkbox input[type='checkbox']:checked + label::before {
	content: '';
	background: url('../../../assets/img/checkMark.svg') no-repeat center;
	background-color: #000;
	color: #fff;
}
