.counter {
	display: flex;
	width: 142px;
	border: 1.46px solid black;
	padding: 5px 25px;
	border-radius: 4px;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}
.minus {
	color: #999999;
}
.counterDisabled {
	display: flex;
	width: 142px;
	padding: 5px 25px;
	border-radius: 4px;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	border: 1.46px solid #999999;
}

.text {
	margin: 0;
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 28px;
	line-height: 32.2px;
}

.button {
	border: none;
	outline: none;
	background: transparent;
	padding: 0;
}

.button:hover {
	cursor: pointer;
}

.button:last-child {
	border: none;
	outline: none;
	background: transparent;
	padding: 4px 0 0 0;
}
