.container {
	padding-left: 0;
	margin: 0;
	display: flex;
	max-width: 1440px;
	gap: 20px;
	min-height: 773px;
	margin-bottom: -165px;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
	list-style: none;
}
.wrapper {
	max-width: 1440px;
	background-color: transparent;
	padding: 0 0 108px 100px;
	box-sizing: border-box;
	margin: 0 auto -165px;
}

.container::-webkit-scrollbar {
	display: none;
}

.title {
	margin-bottom: 56px;
	position: sticky;
	left: 0;
}
