.cardList {
  display: flex;
  gap: 20px;
  margin-top: 56px;
  flex-wrap: wrap;
}

.section {
  max-width: 1240px;
  margin: 64px auto 96px;
}
.card{
  list-style-type: none;
  margin-bottom: 16px;
  box-sizing: border-box;
	position: relative;
	max-width: 400px;
	max-height: 378px;
}
