.button {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	width: 255px;
	height: 47px;
	color: var(--main-white);
	background: var(--text-black);
	border: none;
	border-radius: 6px;
	padding: 12px 48px;
	cursor: pointer;
}

.button:hover {
	background: var(--element-dark-gray);
	border: 1px solid var(--text-black);
	padding: 11px 47px;
}
