.documentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 1440px;
  font-size: 18px;
  line-height: 31px;
  color: var(--main-black);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 62px 100px 108px;
}
