.container {
	box-sizing: border-box;
	width: 441px;
}

.title {
	margin: 0 0 32px 0;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.form {
	width: 100%;
}

.input {
	margin-bottom: 32px;
}
