.cardList {
  display: flex;
  gap: 20px;
  margin-top: 56px;
  flex-wrap: wrap;
  min-width: 1241px;
}

.section {
  display: flex;
	flex-direction: column;
  max-width: 1240px;
  margin: 64px auto 96px;
}
.card {
  list-style-type: none;
  margin-bottom: 16px;
  box-sizing: border-box;
	position: relative;
	max-width: 400px;
	max-height: 378px;
}


.emptyCartContainer {
	justify-content: center;
	text-align: center;
}

.emptyCartDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	max-width: 525px;
}

.emptyText {
	margin: 8px 0 56px;
	color: #000;
	font-size: 25px;
}

.emptyCartImg {
	margin-top: 95px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
