.footer {
	background-color: var(--text-black);
	max-height: 698px;
	width: 100vw;
	color: var(--main-white);
	display: flex;
	padding: 54px 100px 47px 100px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: var(--main-white);
}
li {
	margin: 0 0 16px;
	font-weight: 400;
	line-height: 20.7px;
	font-size: 18px;
}
li:last-child {
	margin: 0;
}

h3 {
	font-weight: 700;
	line-height: 20.7px;
	font-size: 18px;
	margin: 0 0 16px;
}


.column:nth-child(1){
    margin-right: 130px;
}
.column:last-child{
    margin-left: auto;
}

.image {
	margin-right: 14px;
}

.image:last-child {
	margin: 0;
}

p{
    margin: 108px 0 0;
}