.section {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 100px 108px;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 56px 0 0;
  gap:20px;
}
