.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	width: 100%;
	height: 56px;
	color: var(--main-white);
	background: var(--text-black);
	border: none;
	border-radius: 6px;
	padding: 10px 89px 10px 88px;
	cursor: pointer;
}

.button:hover {
	background: var(--element-dark-gray);
}

.button_type_added {
	color: var(--text-black);
	background: var(--main-white);
	border: 0.8px solid var(--text-black);
	cursor: default;
}

.button_type_added:hover {
	background: var(--main-white);
	border: 0.8px solid var(--text-black);
}

.img {
	width: 24px;
	height: 24px;
}
