.container {
  margin: 0 auto;
	max-width: 1440px;
	padding-bottom: 108px;
	box-sizing: border-box;
}

.container__title {
	max-width: 1240px;
	margin: 0 auto 56px;
}

.container__services {
	background-color: rgba(237, 236, 232, 0.67);
}

.services {
	max-width: 1240px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 76px 0 96px;
	box-sizing: border-box;
  gap: 20px;
}

.services__box {
	width: 400px;
	height: 209px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 16px 0 0;
  box-sizing: border-box;
}

.services__image {
  width: 66px;
  height: 66px;
  margin-bottom: 12px;
  object-fit: cover;
}

.services__about {
  font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;
margin: 0 auto 20px;
max-width: 258px;
/* text-align: center; */
}
