.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 469px;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  color: var(--main-black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
