.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.taken {
  display: flex;
  justify-content: center;
  min-height: 42px;
  background-color: var(--text-black);
  color: var(--main-white);
}

.taken__container {
  width: 1440px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 66px;
  box-sizing: border-box;
}

li {
  margin: auto 0;
}

/* .callback {
  height: 27px;
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
  transition: all 0.3s linear;
  background-color: transparent;
  border: none;
  color: var(--text-black);
} */

/* .callback:hover {
  opacity: 0.8;
} */

.main {
  min-height: 97px;
  display: flex;
  justify-content: center;
  background-color: var(--main-white);
}

.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 1440px;
  padding: 0 100px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.homeLink {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}

.homeLink:hover {
  opacity: 0.6;
  outline: none;
}

.logo {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--text-black);
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
}

.menu {
  list-style: none;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  gap: 20px;
}

.menu__item {
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-black);
  text-decoration: none;
  transition: all 0.4s linear;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu__text {
  padding: 9px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.menu__text_active {
  padding: 9px 0;
  border-bottom: 1px solid var(--main-black);
}

.menu__item_active {
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-black);
  text-decoration: none;
  transition: all 0.4s linear;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu__item:hover {
  color: var(--main-black);
  outline: none;
}

.menu__item:hover .menu__text {
  border-bottom: 1px solid var(--main-black);
}

.contacts {
  list-style: none;
  display: flex;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  gap: 25px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-black);
}

.contacts_inactive {
  display: none;
}

.cities {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--text-black);
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-image: url('../../../assets/img/caret.svg');
  background-repeat: no-repeat;
  background-position: 75px 30px;
  width: 90px;
}

.city {
  cursor: pointer;
  padding: 0;
}

.phone {
  text-decoration: none;
  color: var(--text-black);
}

.searchIcon {
  width: 24px;
  height: 24px;
  background-image: url('../../../assets/img/search-icon.svg');
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchIcon_inactive {
  display: none;
}

.nav {
  display: flex;
  list-style: none;
  gap: 37px;
}

.nav__item {
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav__item:hover {
  opacity: 0.6;
  outline: none;
}

.categories {
  position: absolute;
  top: 139px;
  left: 0px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  background: transparent;
  opacity: 0;
  height: 0;
  transition: height 0.1s linear, opacity 0.1s linear;
}

.categories_visible {
  position: absolute;
  top: 139px;
  left: 0px;
  overflow: auto;
  justify-content: center;
  width: 100%;
  background: transparent;
  opacity: 1;
  height: 267px;
  transition: height 0.4s linear, opacity 0.9s linear;
}

.categories__container {
  width: 1440px;
}

.categories__list {
  width: 342px;
  height: 100%;
  z-index: 4;
  padding: 26px 0 36px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--main-white);
  gap: 20px;
  margin-left: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.categories__item {
  text-decoration: none;
  color: var(--main-black);
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
}

.categories__item_active {
  text-decoration: none;
  color: var(--main-black);
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
}

.categories__item:hover {
  opacity: 0.6;
  outline: none;
}

.categories__item:last-of-type {
  color: var(--system-red);
}

.categories__item_active_last {
  text-decoration: none;
  color: var(--system-red);
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
}

.userIcon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1440px) {
  .taken__container {
    width: 100%;
  }

  .main__container {
    width: 100%;
  }

  .categories__container {
    width: 100%;
  }
}

@media screen and (max-width: 1439px) {
  .main__container {
    gap: 20px;
  }

  .nav {
    gap: 20px;
  }
}

@media screen and (max-width: 1360px) {
  .main__container {
    gap: 10px;
  }

  .nav {
    gap: 10px;
  }
}