.card {
	width: 400px;
	height: 100%;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	transition: 0.2s linear;
	text-align: start;
	z-index: 1;
}

.card:hover {
	overflow: visible;
	transition: 0.2s linear;
}

.inner {
	min-height: 645px;
	box-sizing: border-box;
	background-color: #fff;
	box-sizing: border-box;
}

.inner::before {
	position: absolute;
	left: -20px;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 645px;
	padding: 0 20px 0 20px;
	visibility: hidden;
	opacity: 0;
	content: '';
	border-radius: 10px;
	transition: 0.2s linear;
}

.inner:hover::before {
	visibility: visible;
	opacity: 1;
	transition: 0.2s linear;
	box-shadow: 0px 311px 124px rgba(0, 0, 0, 0.01),
		0px 175px 105px rgba(0, 0, 0, 0.05), 0px 78px 78px rgba(0, 0, 0, 0.09),
		0px 19px 43px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.image__picture {
	width: 400px;
	height: 312px;
	border-radius: 10px;
	margin-bottom: 24px;
}

.sweets {
	display: flex;
	width: 76px;
	justify-content: space-between;
	position: absolute;
	top: 20px;
	right: 20px;
}

.sale {
	background-image: url(../../assets/img/percent.svg);
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
	margin-right: 8px;
	visibility: visible;
	opacity: 1;
}

.nonActive {
	visibility: hidden;
	opacity: 0;
}

.likes {
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 20px;
	color: #000000;
}

.description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}

.aboutPrice {
	display: flex;
}

.aboutPrice__new {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: var(--system-red);
	margin: 0 12px 0 0;
}

.aboutPrice__old {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-decoration-line: line-through;
	color: #9c9c9c;
	margin: 0;
}

.existence {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	color: #989898;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s linear;
}

.card:hover .existence {
	opacity: 1;
	visibility: visible;
	transition: 0.2s linear;
}

.aboutCard {
	opacity: 0;
	visibility: hidden;
	transition: 0.2s linear;
	background-color: #fff;
	padding: 0 20px 40px 20px;
	box-sizing: border-box;
	width: 440px;
	position: relative;
	left: -20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
}

.card:hover .aboutCard {
	opacity: 1;
	visibility: visible;
	transition: 0.2s linear;
	overflow: visible;
}

.aboutProperty {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
	background-color: #fff;
	box-shadow: none;
}

.aboutProperty:last-of-type {
	margin-bottom: 32px;
}

.property {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	margin: 0;
}
