.checkbox label {
	display: flex;
	gap: 8px;
	font-size: 18px;
	color: #000;
	cursor: pointer;
}

.checkbox input[type='checkbox'] {
	display: none;
}

.checkbox label::before {
	content: '';
	display: block;
	height: 26px;
	width: 26px;
	background: url('../../../assets/img/star.svg') no-repeat center;
	opacity: 0.5;
	cursor: pointer;
}

.checkbox input[type='checkbox']:checked + label::before {
	content: '';
	background: url('../../../assets/img/star.svg') no-repeat center;
	opacity: 1;
}
