.container {
	margin-top: 139px;
	padding-bottom: 108px;
	max-height: 698px;
	width: 100%;
}

.slider {
	width: 100%;
	height: 100%;
}

.pagination {
	margin-top: 32px;
	text-align: center;

	:global(.swiper-pagination-bullet) {
		width: 12px;
		height: 7px;
		background-color: #fff;
		border: 1px solid #000;
		border-radius: 10px;
	}

	:global(.swiper-pagination-bullet-active) {
		transition: width 0.3s linear;
		width: 50px;
		height: 7px;
		background: #000000;
		border: 1px solid #202020;
		border-radius: 10px;
	}
}

.slide {
	position: relative;
	max-height: 551px;
}

.img {
	width: 100%;
	height: 551px;
	object-position: center;
	object-fit: cover;
}

.prev {
	background: url('../../../../assets/img/sliderLeft.svg') #eee no-repeat center;
	left: 84px;
}

.next {
	background: url('../../../../assets/img/sliderRight.svg') #eee no-repeat
		center;
	right: 84px;
}

.prev,
.next {
	width: 57px;
	height: 67px;
	border: none;
	outline: none;
	border-radius: 5px;
	opacity: 0.7;
	z-index: 100;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev:hover,
.next:hover {
	cursor: pointer;
	opacity: 0.6;
}

.prev:active,
.next:active {
	margin-top: 1px;
}

.description {
	min-width: 1240px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 52px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	margin: 0;
	max-width: 368px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;
	color: #fff;
}

.link {
	display: flex;
	align-items: flex-end;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
}

.link:hover {
	opacity: 0.7;
}

.link::after {
	content: '';
	display: block;
	background: url('../../../../assets//img/rightWhite.svg') no-repeat center;
	width: 23px;
	height: 21px;
}
