.section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 108px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: 576px;
  margin: 0 auto;
  gap: 56px;
  padding: 0 100px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}

.leftColumn {
  display: grid;
  grid-template-areas:
    'A A'
    'B C';
  grid-template-rows: 294px 164px;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
}

.rightColumn {
  display: grid;
  grid-template-areas:
    'B C'
    'A A';
  grid-template-rows: 164px 294px;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.box0 {
  grid-area: A;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.box1 {
  grid-area: B;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.box2 {
  grid-area: C;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
