.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 347px;
  height: 100%;
}
.imgContainer {
  display: flex;
  width: 100%;
  height: 285px;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}
.productImage {
  height: 100%;
  object-fit: contain;
}
.productName {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.productPrice {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.likeContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}
