.productCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.productInfoLocationCart {
  margin-top: 16px;
  position: static;
}

.productName,
.productPrice {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-black);
}

.productPrice {
  font-weight: 700;
}

.like {
  position: absolute;
  top: 20px;
  right: 20px;
}

.likeLocationCart {
  top: 13px;
  right: 13px;
}
