.button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  width: 179px;
  height: 43px;
  color: var(--main-black);
  background: transparent;
  border: 1px solid var(--main-black);
  border-radius: 20px;
  padding: 9px 37px 11px 37px;
  cursor: pointer;
}

.button:hover {
  color: var(--main-white);
  background: var(--text-black);
}
