.container {
	display: flex;
	align-items: center;
	justify-content: center;
  height: 20px;
  margin-top: 45px;
}

.slider {
	position: relative;
	width: 320px;
}

.slider__track,
.slider__range,
.slider__leftValue,
.slider__rightValue {
	position: absolute;
}

.slider__track,
.slider__range {
	border-radius: 3px;
	height: 4px;
}

.slider__track {
	background-color: #E1E3E6;
	width: 100%;
	z-index: 1;
}

.slider__range {
	background-color: #222831;
	z-index: 2;
}

.slider__leftValue,
.slider__rightValue {
	top: -55px;
	font-family: 'Open Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27.5px;
}

.slider__leftValue_label,
.slider__rightValue_label {
	margin: 0;
	color: rgba(34, 40, 49, 0.56);
}

.slider__leftValue_input,
.slider__rightValue_input {
	all: unset;
  margin-left: 10px;
	color: var(--main-black);
	border-radius: 10px;
	border: 0.5px solid var(--main-black);
	padding: 4px 15px;
}

.slider__leftValue {
	left: 0;
}

.slider__rightValue {
	right: 0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.thumb {
	pointer-events: none;
	position: absolute;
	height: 0;
	width: 320px;
	outline: none;
}

.thumbLeft {
	z-index: 3;
}

.thumbRight {
	z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
	background-color: #fff;
	border: none;
	border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08));
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
	background-color: #fff;
	border: none;
	border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08)) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08));
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
}
